.services {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;

    &__navigation {
        a {
            color: #1A4570;
            font-size: 16px;
            text-decoration: none;
        }

        a:first-child {
            color: #6B95C6;
        }
    }

    &__title {
        margin-top: 10px;
        font-size: 35px;
        color: #1A4570;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__table-create {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            color: #1A4570;
        }

        p span {
            color: #1A4570;
            font-weight: 600;
        }
    }

    &__table-create-btn {
        width: 100px;
        height: 40px;
        border-radius: 3px;
        background: #078E35;
        border: 0;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;

        thead {
            tr {
                th {
                    border: 1px solid #ccc;
                    padding: 8px;
                    text-align: left;
                }
            }
        }

        tbody {
            tr {
                background-color: #edf4fc;
            }

            tr:nth-child(odd) {
                background-color: #fff;
            }

            td {
                border: 1px solid #ccc;
                padding: 8px;
                text-align: left;
            }
        }

        &-inputs {
            height: 35px;
            border-radius: 4px;
            border: 1px solid #EAEAEA;
            background: #FFF;
            padding-left: 10px;
            font-size: 16px;
            width: 100%;
            outline: none;
        }

        &-settings {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }

        &-buttons {
            width: 25px;
            height: 25px;
            border-radius: 2px;
            border: none;
            font-size: 12px;
            color: #fff;
            cursor: pointer;
        }
    }
}

.button-edit {
    background: #868686;
}

.button-delete {
    background: #DF0000;
    ;
}

.button-view {
    background: #0043A7;
}

.edit__popup {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.323);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // z-index: -999;
    opacity: 0;
    transition: .5s;
    pointer-events: none;


    &.active {
        opacity: 1;
        // z-index: 999;
        pointer-events: all;
    }

    &-close {
        position: absolute;
        right: 30px;
        font-size: 25px;
        color: #1A4570;
        cursor: pointer;
    }

    &-inner {
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        width: 800px;
        height: 500px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .5s;
        opacity: 0;

        &.active {
            top: 50%;
            opacity: 1;
        }
    }

    &__form {
        display: flex;
        gap: 30px;

        &-subtitle {
            margin-bottom: 20px;
        }

        &-titles {
            color: #1A4570;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 5px;
        }

        &-inputs {
            width: 300px;
            height: 40px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            font-family: 'Montserrat', sans-serif;
            padding-left: 10px;
            font-size: 16px;

        }

        &-desc {
            textarea {
                width: 300px;
                border: 1px solid #ccc;
                border-radius: 5px;
                height: 200px;
                resize: vertical;
                outline: none;
                font-family: 'Montserrat', sans-serif;
                padding-top: 10px;
                padding-left: 10px;
                font-size: 16px;
            }
        }

        &-button {
            color: #fff;
            background-color: #1A4570;
            width: 150px;
            height: 50px;
            border: 0px;
            border-radius: 5px;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            cursor: pointer;
        }

        &-file {
            input {
                margin-bottom: 25px;
            }
        }
    }
}

.view__popup {
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.338);
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: .5s;


    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &-img-title {
        font-size: 20px;
        color: #1A4570;
        font-weight: 500;
        margin-top: 20px;
    }

    &-services-img {
        width: 200px;
        height: 200px;
        background-color: #d4d4d4;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #868686;
        margin-top: 10px;
        

        h3 {
            font-size: 20px;
        }

        img {
            width: 50%;
        }
    }

    &-close {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 25px;
        color: #1A4570;
        cursor: pointer;
    }

    &-title {
        margin-bottom: 20px;
        font-size: 30px;
        color: #1A4570;
        font-weight: 600;
    }

    &-inner {
        background-color: #fff;
        width: 1200px;
        height: 600px;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        opacity: 0;
        transition: .5s;
        &.active {
            top: 50%;
            opacity: 1;
        }
    }

    &-table {
        width: 80%;
        border-collapse: collapse;
        display: flex;

        tbody {

            tr {
                background-color: #edf4fc;

            }

            tr:nth-child(odd) {
                background-color: #fff;
            }

            td {
                border: 1px solid #ccc;
                text-align: left;
                padding: 8px;
                font-size: 14px;
            }

            th {
                padding: 10px;
                border: 1px solid #ccc;
                text-align: left;
                font-size: 16px;
                width: 25%;
            }

        }

 
    }
}